production < develop:

common:
  php:
    date.timezone: Europe/Prague
    iconv.internal_encoding: UTF-8

  setArray:
    - [a, b, c]
    - {hr: 65, 'avg': 0.278}
    - {hr = 65, avg = 0.278}
    - {hr => 65, avg => 0.278}

  variable:
    name: František Dobrota :-)  # toto je kometář
    string: " delimited string \x0A "
    tempDir: %appDir%/temp

    Nette\Loaders\RobotLoader:
      option:
        directory: [%appDir%, %libsDir%]

    Nette\Loaders\RobotLoader:
      option:
        directory:
          - %appDir%